{% extends "::layout.html.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset('Bundles/labocontenu/css/styleContenuBundle.css') }}" type="text/css" />{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <h3 class="index">Le laboratoire Web'n'Dev 2011/2012 de supinfo ouvre ses portes !</h3>
    <p>
        <b>D</b>orénavant, découvrez un labo’ tout neuf : nouvelle équipe, nouveaux projets, nouveaux outils…<br>
        Partez à l’aventure au travers des technologies du développement web, le tout dans un très bon « team spirit », au sein d’une communauté active.
    </p>
    <div id="block_article">
        <div class="article1">
            <article>
            <h3>Technologies Web</h3>
            <p>
                En vue d’incarner un esprit de développement à la fois innovateur et performant, le labo <b>Web’n'Dev</b> s’est lancé dans une période de renouveau. 
                Les idées fusent face aux <b>technologies émergentes</b> du Web. Ainsi, notre laboratoire veut à tout prix rester à la veille technologique…
                <a href="">En savoir +</a>
            </p>
            </article>  
        </div>

        <div class="article1">
            <article>
                <h3>Projets en equipe</h3>
                <p>
                    En cette nouvelle année, le labo Web’n'Dev tient à mettre en oeuvre <b>l’esprit en équipe.</b>
                    Comme nous le savons tous, dans une entreprise le travail d’équipe est une base fondamentale.
                    C’est pour cela que <b>l’entre-aide</b> sera un de nos buts et points forts…<br>
                    <a href="">En savoir +</a>
                </p>
            </article>
        </div>
            
        <div class="article1">
            <article>
                <h3>Communauté</h3>
                <p>
                    Vous vous êtes déjà confronté à un <b>problème insolvable</b> par vous-même ?
                    Dans les domaines du web développement, la Plateforme « <b>Level-Up</b> » résoudra tous vos problèmes. 
                    En effet, le labo Web’n'Dev se veut pionnier au niveau <b>communautaire online !</b> …
                    <a href="">En savoir +</a>
                </p>
            </article>
        </div>
    </div>
{% endblock %}
