{% extends "::layout.html.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset('Bundles/labocontenu/css/styleContenuBundle.css') }}" type="text/css" />{% endblock %}
{% block js %}<script src='{{ asset('Bundles/labocontenu/javascript/javascript.js')}}'></script>{% endblock %}
{% block body %}
    <a id="a" href="#">click</a>
{% endblock %}