{% extends "::layout.html.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset('Bundles/labocontenu/css/styleContenuBundle.css') }}" type="text/css" />{% endblock %}

{% block body %}
    <h1>Les projets en équipe</h1>
    <img class="logo_technologies" src="{{ asset('bundles/labocontenu/images/equipe.jpg') }}"/>
    <p>
        En cette nouvelle année, le labo Web’n’Dev tient à mettre en œuvre <b>l’esprit d'équipe</b>.<br><br>
        Comme nous le savons tous, dans une entreprise le travail d’équipe est une base fondamentale.
        C’est pour cela que <b>l’entre-aide</b> sera un de nos buts et points forts…<br><br>

        Ainsi, le labo Web’n'Dev de SUPINFO Paris compte former des <b>groupes</b> de travail menés par des chefs de projets.
        Ces formations de quelques élèves participeront à <b>des briefing réguliers</b> et seront contraints à des <b>deadlines fréquentes</b>.
        Ainsi dans un tel encadrement, <b>le laboratoire pousse ses membres à l’excellence</b>…
        (Excellence d’autant plus importante que vous projets seront proposés comme tel)<br><br>

        C’est dans une humeur de convivialité que le labo vous invite à travailler et reste disponible à vous tous au travers de ce site, de la plate-forme « Level Up »
        et à SUPINFO même.<br><br>
    </p>
{% endblock %}