{% extends "::layout.html.twig" %}
{% block css %}<link rel="stylesheet" href="{{ asset('Bundles/labocontenu/css/styleContenuBundle.css') }}" type="text/css" />{% endblock %}

{% block body %}
    <h1>Les technologies web</h1>
    <img class="logo_technologies" src="{{ asset('bundles/labocontenu/images/techno.png') }}"/>
    <p>
        En vue d’incarner un esprit de développement à la fois innovateur et performant, le labo <b>Web’n'Dev</b> s’est lancé dans une période de renouveau.
        Les idées fusent façe aux technologies émergentes du Web.
        Ainsi, notre laboratoire veut à tout prix promouvoir la veille technologique.<br><br>
        Le laboratoire <b>Web’n'Dev</b> de <b>SUPINFO</b> Paris encadrera des ateliers d’entraide, de création, de projets.
        Au programme, les indispensables tel : que le <b>CSS3</b>, <b>l’HTML5</b>, <b>JavaScript</b>, <b>jQuery</b> le <b>php/MySQL</b>, …
        Nous verrons aussi les méthodes de développements sur terminaux mobiles et nous pourrons étudier le célèbre CMS (Content Management System) <b>WordPress</b>.
        Dans un souci de perfection, nous développerons de manière à valider nos créations <b>W3C</b>.
    </p>
{% endblock %}